<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content">
        <button id="lista-hotel" class="btn btn-primary" type="button">
            <a href="/listaHotel/">Lista Hotel</a>
        </button>
          <a class="navbar-brand" href="#">Sito stile Booking</a>
        <button id="logout" class="btn btn-primary" type="button">Logout</button>
    </nav>
    <main>
        <div class="wrapper">
            <form method="post" action="">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="descrizione">Example textarea</label>
                    <textarea class="form-control" id="descrizione" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="citta">Password</label>
                    <input type="text" class="form-control" id="citta" placeholder="Città">
                </div>
                <div class="form-group">
                    <label for="indirizzo">Password</label>
                    <input type="text" class="form-control" id="indirizzo" placeholder="Indirizzo">
                </div>
                <button type="submit" class="btn btn-primary">Conferma</button>
            </form>
        </div>
    </main>
</body>
</html>