{% extends "base.html" %}
{% block titolo %} Aggiungi Hotel {% endblock %}
{% block tasto-sinistro %}
    <button id="lista-hotel" class="btn btn-primary" type="button">
            <a href="/listaHotel/">Lista Hotel</a>
    </button>
{% endblock %}
{% block content %}
    <main>
        <div class="wrapper-form">
            <h1 id="maintitle">Aggiungi Hotel</h1>
            <form id="form-aggiungi-hotel" action="/aggiungiHotel/" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <a>{{ field.label_tag }}</a>
                        {{ field }}
                    </div>
                {% endfor %}
                <input id="submit" type="submit" value="CONFERMA" class="btn btn-outline-primary centraBottone" />
            </form>
        </div>
    </main>
{% endblock %}
