{% extends "base.html" %}
{% block titolo %} Home Albergatore {% endblock %}
{% block tasto-sinistro %}
    <form action="/gestioneHotel/">
        <input type="submit" id="gestione-hotel" class="btn btn-primary" value="Gestione Hotel">
    </form>

{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <div class="wrapper-form">
            <h1 id="maintitle">Aggiungi Camera</h1>
            <form id="form-aggiungi-camera" action="/aggiungiCamera/" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <a>{{ field.label_tag }}</a>
                        {{ field }}
                    </div>
                {% endfor %}
                <input id="submit" type="submit" value="Conferma" class="btn btn-outline-primary centraBottone"/>
            </form>
        </div>
    </main>
{% endblock %}
