<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block titolo %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content">
        {% block tasto-sinistro %}{% endblock %}
        <a class="navbar-brand" href="/home/">Booking</a>
        {% if request.session.nomeAlbergatore is not None %}
            <button id="logout" type="button">
                <a href="/logout/">Logout</a>
            </button>
        {% else %}
            <button id="login"  type="button">
                <a href="/login/">Login</a>
            </button>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>