<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title class="page-header">{% block titolo %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light justify-content">
        {% block tasto-sinistro %}{% endblock %}
        {% if request.session.nomeAlbergatore is None %}
           <form action="/registrazione/">
                <input id="registrazione" class="btn btn-primary" type="submit" value="Registrati" />
            </form>
        {% endif %}
        <a class="navbar-brand booki" href="/home/">Booking</a>
        {% if request.session.nomeAlbergatore is not None %}
            <form action="/logout">
                <input id="logout" class="btn btn-primary" type="submit" value="Logout" />
            </form>

        {% else %}
            <form action="/login/">
                <input id="login" class="btn btn-primary" type="submit" value="Login" />
            </form>
        {% endif %}
    </nav>


    <div class="linea_separazione"></div>
    {% block content %}{% endblock %}
</body>
</html>
