{% extends "base.html" %}
{% block titolo %} Cerca {% endblock %}
{% block content %}
            <div >
                <h2> Prenota l'alloggio dei tuoi sogni! </h2>
            </div>


                <nav>


                <main>
                        <div class="wrapper">
                        <form  method="GET" action="/cercaRS/" >
                            {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        <a>{{ field.label_tag }}</a>
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            Da: <input type = "date" name="cercaCheckIn" value = "CheckIn" placeholder="Check In" required>
                    A: <input type = "date" name="cercaCheckOut" value = "CheckOut" placeholder="Check Out" required>
                                <button  id="cercaSub" type="submit">Cerca</button>
                        </form>
                    </div>

                    </main>
                    {% endblock %}

                </nav>





