{% extends "base.html" %}
{% block titolo %} Cerca {% endblock %}
{% block content %}
            {% for i in lista2 %}
            <div >
                <br><br>
                <h4 >Spiacenti! La camera è stata già prenotata </h4>


            </div>
        {%endfor%}
            <div >
                <h2> Prenota l'alloggio dei tuoi sogni! </h2>
            </div>


                <nav>


                <main>
                        <div class="wrapper">
                        <form  method="GET" action="/cercaRS/" >
                            {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        <a>{{ field.label_tag }}</a>
                                        {{ field }}
                                    </div>
                                {% endfor %}

                                <button  id="cercaSub" type="submit">Cerca</button>
                        </form>
                    </div>

                    </main>
                    {% endblock %}

                </nav>





