{% extends "base.html" %}
{% block titolo %} Cerca {% endblock %}
     {% block content %}
            <div >
                <h2> Prenota l'alloggio dei tuoi sogni! </h2>
            </div>

                <div >
                <nav>
                        <form  method="GET" action="/cercaAl/" >
                        {% csrf_token %}
                    <input id="cercaCitta" type="text" name="cercaCitta" placeholder="Inserisci citta' " required>

                    Da: <input type = "date" name="cercaCheckIn" value = "CheckIn" placeholder="Check In" required>
                    A: <input type = "date" name="cercaCheckOut" value = "CheckOut" placeholder="Check Out" required>

                    <select name="cercaLetti"  placeholder="Numero letti" required>
                        <option value=0 selected="selected">Numero letti</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>

                    </select>
                    <button  id="cercaSub" type="submit">Cerca</button>
                    </form>
                </nav>
                </div>
    {% block container %}{% endblock %}
{% endblock %}