{% extends "base.html" %}
{% block titolo %} Gestione Hotel {% endblock %}
{% block tasto-sinistro %}
    <button id="aggiungi-camera" class="btn btn-primary" type="button">
            <a href="/aggiungiCamera/?id={{ hotel.id }}">Aggiungi Camera</a>
    </button>
{% endblock %}
{% block content %}
    <main>
        <div class="wrapper">
            <h1 id="maintitle">Informazioni Hotel</h1>
            <div class="card border-primary">
                <div class="card-header">{{ hotel.nome }}</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">{{ hotel.citta }} - {{ hotel.indirizzo }}</h5>
                    <p class="card-text">{{ hotel.descrizione }}</p>
                </div>
            </div>
            <h1 id="maintitle">Lista camere</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                          <th scope="col">#</th>
                          <th scope="col">n° Letti</th>
                          <th scope="col">Prezzo</th>
                          <th scope="col">Servizi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in camere %}
                    <tr>
                        <th scope="row">{{ c.numero }}</th>
                        <td>{{ c.nLetti }}</td>
                        <td>{{ c.prezzo }}</td>
                        <td>{{ c.servizi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}