<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content">
        <button id="lista-hotel" class="btn btn-primary" type="button">Lista Hotel</button>
          <a class="navbar-brand" href="#">Sito stile Booking</a>
        <button id="logout" class="btn btn-primary" type="button">Logout</button>
    </nav>
    <main>
        <div class="wrapper">
            <h1 id="page-title">Informazioni Hotel</h1>
            <div class="card border-primary">
                <div class="card-header">{{ hotel.nome }}</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">{{ hotel.citta }} - {{ hotel.indirizzo }}</h5>
                    <p class="card-text">{{ hotel.descrizione }}</p>
                </div>
            </div>
            <h1 id="page-title">Lista camere</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                          <th scope="col">#</th>
                          <th scope="col">n° Letti</th>
                          <th scope="col">Prezzo</th>
                          <th scope="col">Servizi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in camere %}
                    <tr>
                        <th scope="row">{{ c.numero }}</th>
                        <td>{{ c.nLetti }}</td>
                        <td>{{ c.prezzo }}</td>
                        <td>{{ c.servizi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>