<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content">
        <button id="lista-hotel" class="btn btn-primary" type="button">Lista Hotel</button>
          <a class="navbar-brand" href="#">Sito stile Booking</a>
        <button id="logout" class="btn btn-primary" type="button">Logout</button>
    </nav>
    <main>
        <div class="wrapper">
            <h1 id="page-title">Informazioni Hotel</h1>
            <div class="card border-primary">
                <div class="card-header">Nome hotel</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Indirizzo hotel</h5>
                    <p class="card-text">DESCRIZIONE Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <h1 id="page-title">Lista camere</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                    </tr>
                    <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>