{% extends "base.html" %}
{% block titolo %} Home Albergatore {% endblock %}
{% block tasto-sinistro %}
    <button id="lista-hotel" class="btn btn-primary " type="button">
            <a href="/listaHotel/">Lista Hotel</a>
    </button>
{% endblock %}
{% block content %}
    <main>
        <div class="wrapper">
            <h1 id="maintitle" style="text-align: center;">Lista Prenotazioni</h1>
            <table class="table table-striped table-hover back">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Camera</th>
                        <th scope="col">Check-In</th>
                        <th scope="col">Check-Out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prenotazioni %}
                    <tr>
                        <th scope="row">{{ p.email }}</th>
                        <td>{{ p.camera.hotel.nome }}</td>
                        <td>{{ p.camera.id }}</td>
                        <td>{{ p.checkIn }}</td>
                        <td>{{ p.checkOut }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
