{% extends "base.html" %}
{% block titolo %} Home Albergatore {% endblock %}
{% block content %}
    <nav class="navbar navbar-light bg-light justify-content">
        <button id="lista-hotel" class="btn btn-primary" type="button">
            <a href="/listaHotel/">Lista Hotel</a>
        </button>
          <a class="navbar-brand" href="#">Sito stile Booking</a>
        <button id="logout" class="btn btn-primary" type="button">Logout</button>
    </nav>
    <main>
        <div id="wrapper">
            <h1 id="maintitle">Lista Hotel</h1>
            <table class="table table-striped table-hover table-success">
                <thead>
                    <tr>
                          <th scope="col">Email</th>
                          <th scope="col">Camera</th>
                          <th scope="col">Check-In</th>
                          <th scope="col">Check-Out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prenotazioni %}
                    <tr>
                          <th scope="row">{{ p.email }}</th>
                          <td>{{ p.camera }}</td>
                          <td>{{ p.checkIn }}</td>
                          <td>{{ p.checkOut }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}