<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content">
        <button id="registrati" class="btn btn-primary" type="button">
            <a href="/home/registrazione/" style="color:white">Registrazione</a>
        </button>
          <a class="navbar-brand" href="#">Sito stile Booking</a>
        <button id="login" class="btn btn-primary" type="button">
            <a href="/home/login/" style="color:white">Login</a>
        </button>
    </nav>
    <main>
        <div class="wrapper">
            <h1 id="page-title">Lista Hotel</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                    </tr>
                    <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>