{% extends "base.html" %}
{% block titolo %} Login {% endblock %}
{% block content %}
    <main>
        <div class="wrapper-form">
            <h1 id="maintitle" style="text-align: center">Login</h1>
            <form id="login" action="/login/" method="POST" style="text-align: center;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <a>{{ field.label_tag }}</a>
                        {{ field }}
                    </div>
                {% endfor %}
                <input id="loginButton" type="submit" value="ACCEDI" class="btn btn-outline-primary" />
            </form>
        </div>
    </main>
{% endblock %}
