{% extends "base.html" %}
{% block titolo %}Registrazione{% endblock %}

{% block content %}
    <main>
        <div class="wrapper-form">
            <h1 id="maintitle" style="text-align: center">Registrazione</h1>
            <form id="signUp" action="/registrazione/" method="POST" style="text-align: center;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <a>{{ field.label_tag }}</a>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit"  class="btn btn-outline-primary" onclick="popUpFun()">Registrati</button>
            </form>
        </div>
    </main>
{% endblock %}
