* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

button a {
    color: white;
}

#maintitle {
    margin: 10px 0;
    font-weight: lighter;
    text-align: center;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.wrapper-form {
    width: 40%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 2%;
}

table {
    background-color: unset;
}