* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

button a {
    color: white;
}


.whiteBack{
    background-color: white;
}

.margin{
    margin-left: 10px;
    margin-right:10px;
}

#maintitle {
    margin: 10px 0;
    font-weight: lighter;
    text-align: center;
}


.bs {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.bs:hover {
  background-color: #008CBA;
  color: white;
}


.wrapper {
    width: 70%;
    margin: auto;
}

.booki{

}

.wrapper-form {
    width: 40%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 2%;
}

table {
    background-color: unset;
}
