* {
    box-sizing: border-box;
}

#lista-hotel{
    margin: 20px;
}

#aggiungi-hotel{
    margin: 20px;
}

.centerThisButtonBro{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: aliceblue;
}

button a {
    color: white;
}

.whiteText{
    color:white;
}
.whiteText:hover{
    color:white;
}
.whiteBack{
    background-color: white;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.margin{
    margin-left: 10px;
    margin-right:10px;
}

#maintitle {
    margin: 10px 0;
    font-weight: lighter;
    text-align: center;
}


.bs {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}
.back,
.back > th,
.back > td {
  background-color: #c7f0fa;

}

.back th,
.back td,
.back thead th,
.back tbody + tbody {
  border-color: #86d1d1;
}
.bs:hover {
  background-color: #008CBA;
  color: white;
}


.wrapper {
    width: 70%;
    margin: auto;
}

.booki{
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    margin: auto;
    text-align: center;
}

.wrapper-form {
    width: 40%;
    margin: auto;
    border: transparent;
    padding: 2%;
}

